* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  /* color: yellow;
  background-color: #212121;
  border-radius: 4px; */
}
p {
  /* width: 70px;
  height: 30px;
  border: 4px solid black;
  background-color: black;
  border-radius: 4px; */
}
h1 {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.33em;
  letter-spacing: 0.96px;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
/* styles for task 1 */
li {
  list-style: none;
}
.categories {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.item {
  border-radius: 8px;
  background: #f6f6fe;
}
.title-style {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.33em;
  letter-spacing: 0.96px;
}
.common-list {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.common-list li {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 24px;

  border-radius: 4px;
  border: 1px solid #808080;

  letter-spacing: 0.08em;
  padding-left: 16px;
  padding-top: 8px;
  width: 360px;
  height: 40px;
}

/* styles for task 2  */
.container {
  width: 1440px;
  height: 848px;
  padding: 100px 156px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-element-style {
  max-width: 360px;
  max-height: 300px;
  width: calc((100% - 2 * 24px) / 2);
}

.img-element-style {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* task 3 */

.input-style {
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;

  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.64px;

  display: inline-flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.output-style {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33em;
  letter-spacing: 0.96px;
}
/* task-4 */
.login-form {
  display: inline-flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
label {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.08em;
}
.style-input-email {
  display: flex;
  width: 360px;
  height: 40px;
  justify-content: center;
  align-items: center;
  padding-left: 24px;

  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.08em;
}
.style-password {
  display: flex;
  width: 360px;
  height: 40px;
  justify-content: center;
  align-items: center;
  padding-left: 24px;

  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.08em;
}
.style-btn {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #4e75ff;

  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.08em;
}
